

<div class="app-home">
  <div></div>
    <div>
      <div class="app-heading app-heading--center">
        Wellcome to our store
      </div>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus corporis laudantium facilis vero rem quasi enim repudiandae commodi consequuntur, doloremque, eaque iste quam praesentium modi earum ratione, repellendus officiis! Nesciunt quam sit dolorem quo esse architecto, velit, asperiores corporis accusamus quaerat placeat eos amet. Enim veniam fugit id expedita?</p>
      <br>
      <div class="app-home__button">
        <button mat-raised-button color="primary" routerLink="/products">Check out our awesome products</button>
      </div>
    </div>
  <div></div>
</div>
