

<div>
  <h1>Wellcome to our store</h1>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus corporis laudantium facilis vero rem quasi enim repudiandae commodi consequuntur, doloremque, eaque iste quam praesentium modi earum ratione, repellendus officiis! Nesciunt quam sit dolorem quo esse architecto, velit, asperiores corporis accusamus quaerat placeat eos amet. Enim veniam fugit id expedita?</p>
  <br>
  <button mat-raised-button color="primary" routerLink="/">Get Directions</button>
</div>
