<div class="app-aside">
 <div class="app-aside__wraper">
   <div class="app-aside__menu">
     <!-- Begin Item -->
     <div class="app-aside__item">
       <div>
        <mat-icon>subject</mat-icon>
      </div>
      <div>
       Products
      </div>
    </div>
     <!-- End Item -->
     <!-- Begin Item -->
     <div class="app-aside__item" routerLink="/about">
      <div>
        <mat-icon>store</mat-icon>
     </div>
     <div>
      About
     </div>
   </div>
     <!-- End Item -->
     <!-- Begin Item -->
     <div class="app-aside__item" routerLink="/contact">
      <div>
        <mat-icon> contact_mail</mat-icon>
     </div>
     <div>
      Contact
     </div>
   </div>
     <!-- End Item -->
   </div>
 </div>
</div>
