<div class="app-aside">
 <div class="app-aside__wraper">
   <div class="app-aside__menu">
     <!-- Begin Item -->
     <div class="app-aside__item" routerLink="/products">
       <div class="app-aside__wrapper">
        <mat-icon class="app-aside__icon">subject</mat-icon>
      </div>
      <div class="app-aside__menu-text">
       Products
      </div>
    </div>
     <!-- End Item -->
     <!-- Begin Item -->
     <div class="app-aside__item" routerLink="/about">
      <div class="app-aside__wrapper">
        <mat-icon class="app-aside__icon">store</mat-icon>
     </div>
     <div>
      About
     </div>
   </div>
     <!-- End Item -->
     <!-- Begin Item -->
     <div class="app-aside__item" routerLink="/contact">
      <div class="app-aside__wrapper">
        <mat-icon class="app-aside__icon"> mail_outline</mat-icon>
     </div>
     <div class="app">
      Contact
     </div>
   </div>
     <!-- End Item -->
   </div>
 </div>
</div>
