<div class="app-products">
  <div *ngFor="let product of products">
  <mat-card class="app-product__card">
    <div *ngIf="!product.imageUrls[0]; else hasImage">
      <img mat-card-image src="/assets/media/img/no_image.jpg" routerLink="/products/{{product.id}}">
    </div>
    <ng-template #hasImage>
      <img mat-card-image src="{{product.imageUrls[0]}}" alt="#" routerLink="/products/{{product.id}}">
    </ng-template>
    <mat-card-content>
      <p class="app-product__text">
        {{product.name}}
      </p>
      <p>
        code:{{product.code}}
      </p>
      <p>
        Product price:{{product.price}} rsd
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="app-product__cart-wrapper">
      <app-add-to-cart></app-add-to-cart>
    </div>
  </mat-card>
  </div>
</div>







