<!-- <ng-container *ngIf="(cartProducts && cartProducts.length > 0); else noItems"> -->
<button mat-button routerLink="/cart" class="my-button">
    <mat-icon
    class="app-header__icon"
    matBadgePosition="before"
    routerLink="/cart"
    matBadge="{{count}}"
    matBadgeColor="warn"

    >shopping_cart</mat-icon>
  </button>

<!-- </ng-container> -->

<!-- <ng-template #noItems>
  <button mat-button routerLink="/cart">
    <mat-icon
    class="app-header__icon"
    matBadgePosition="before"
    routerLink="/cart"
    matBadge="{{count}}"

    matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</ng-template> -->



