<div class="app-header app-header--fixed">
  <div class="app-header__brand" routerLink="/">
    <div class="app-header_wrapper">
      <button mat-button class="brand_button">
        <mat-icon class="app-header__icon">home</mat-icon>&nbsp;&nbsp;
        <span class="app-header__brand-text">Home</span>
      </button>
    </div>
  </div>
    <div class="app-header__spacer"></div>
    <div style="color:white;cursor:default">
      {{getTotalPrice() | currency : currency}} RSD
    </div>
    <app-header-cart [cartProducts]="" [count]="productService?.cartCount"></app-header-cart>

    <div *ngIf="user$ | async as _user; else showLogin">
      <!-- <div *ngIf="user$ | async as _user; else showLogin"> -->
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        Menu
      </button>
      <mat-menu #menu="matMenu">
        <mat-list>
          <mat-list-item>
            <div>
              <img src="/assets/media/img/user.jpg" width="50px">
            </div>
            <div>
              <p>
                Ime prezime
              </p>

              <p>
                {{_user.email}}
              </p>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/orders"><mat-icon>bookmark_border</mat-icon>Orders</button>
          <mat-divider></mat-divider>
          <button (click)="logout()" mat-menu-item><mat-icon (click)="logout()">arrow_right_alt</mat-icon>Logout</button>
        </mat-list>
      </mat-menu>
    </div>
        <!-- login -->
        <ng-template #showLogin>
          <button mat-button style="color:white" routerLink="/auth/login">
            Login
            <mat-icon>subdirectory_arrow_right</mat-icon>
          </button>
        </ng-template>

  </div>
