<div class="app-header app-header--fixed">
  <div class="app-header__brand" routerLink="/">
    <div class="app-header_wrapper">
      <button mat-button class="brand_button">
        <mat-icon class="app-header__icon">home</mat-icon>&nbsp;&nbsp;
        <span class="app-header__brand-text">Home</span>
      </button>
    </div>
  </div>
    <div class="app-header__spacer"></div>
    <app-header-cart [cartProducts]="" [count]="productService?.cartCount"></app-header-cart>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="app-header__icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/auth/login">Login</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
  </div>
