<div class="app-header app-header--fixed">
  <div class="app-header__brand" routerLink="/">
    <div class="app-header_wrapper">
      <mat-icon class="app-header__icon">home</mat-icon>
    </div>
    <div class="app-header__brand-text">
      Home
    </div>
  </div>
    <div class="app-header__spacer"></div>
      <mat-icon class="app-header__icon">shopping_cart</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="app-header__icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/auth/login">Login</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
  </div>
