
<div class="app-contact">
  <div>
  </div>
  <div class="app-contant__container">
    <div class="app-heading app-heading--center">
      Contact
      </div>
      <div class="app-contant__wrapper">
        <div class="app-contact_icon">
          <mat-icon> place</mat-icon>
        </div>
        <div class="app-contact__text">
          Visegradska 14 11 000 Beograd
        </div>
      </div>
    <div class="app-contant__wrapper">
      <div class="app-contact_icon">
        <mat-icon> local_phone</mat-icon>
      </div>
      <div class="app-contact__text">
       (+381) 11 457-2308
      </div>
    </div>

    <div class="app-contant__wrapper">
      <div class="app-contact_icon">
        <mat-icon> mail_outline</mat-icon>
      </div>
      <div class="app-contact__text">
        janasoft.support@gmail.com
      </div>
    </div>
    <div class="app-contant__wrapper">
      <div class="app-contact_icon">
        <mat-icon>access_time</mat-icon>
      </div>
      <div class="app-contact__text">
        Mon-Sun / 9:00 AM - 8:00 PM
      </div>
    </div>
    <div class="app-contact__button">
      <button mat-raised-button color="primary" (click)="googleMaps('https://www.google.com/maps/place/Vi%C5%A1egradska+14,+Beograd/@44.801543,20.4519599,17z/data=!3m1!4b1!4m5!3m4!1s0x475a70069a60437d:0xe1490b55d4e52123!8m2!3d44.801543!4d20.4541486')">
        <mat-icon> directions</mat-icon>&nbsp;&nbsp;
        Get Directions
      </button>
    </div>
  </div>
  <div>
  </div>
</div>
