
<div class="app-contact">
  <div>
  </div>
  <div>
    <div class="app-heading app-heading--center">
      Contact
      </div>
      <div class="app-contant__wrapper">
        <div class="app-contact_icon">
          <mat-icon> place</mat-icon>
        </div>
        <div>
          Visegradska 14 11 000 Beograd
        </div>
      </div>
    <div class="app-contant__wrapper">
      <div>
        <mat-icon> local_phone</mat-icon>
      </div>
      <div>
       (+381) 11 457-2308
      </div>
    </div>

    <div class="app-contant__wrapper">
      <div>
        <mat-icon> mail_outline</mat-icon>
      </div>
      <div>
        janasoft.support@gmail.com
      </div>
    </div>
    <div class="app-contant__wrapper">
      <div>
        <mat-icon>access_time</mat-icon>
      </div>
      <div>
        Mon-Sun / 9:00 AM - 8:00 PM
      </div>
    </div>
    <div class="app-contact__button">
      <button mat-raised-button color="primary" routerLink="/"><mat-icon> directions</mat-icon>Get Directions</button>
    </div>
  </div>
  <div>
  </div>
</div>
