//
// Heading
//
.app-header__brand-text {
  font-size : 1.3rem;
  font-weight: 500;
  margin-left: 20;
  color: app-get($app-color,text,light);
  line-height: 20px;
  padding-top: 2px;
}


.app-contact__text{
  line-height: 34px;
  font-size: 1rem;
}


.app-product__text{
  font-size: 1rem;
  font-weight: 500;
}

.app-heading {
	font-size: 3.5rem;
	font-weight: 400;
	padding: 0;
  color: lighten(app-get($app-color,text,dark), 10%);
  padding-bottom: 46px;

	&.app-heading--center {
		text-align: center;
	}

	&.app-heading--right {
		text-align: right;
	}

}
