
<div *ngIf="products$ ; else ItemsInCart">
  <mat-card>
    <div style="height: 100%; display: flex;justify-content: space-evenly; align-items: center; border-bottom: 1px red;">
      <div style="width: 150px;text-align:center;">
        product
      </div>
      <div>
        name
      </div>
      <div>
        price
      </div>
      <div>
        quantity
      </div>
      <div>
        total
      </div>
      <div>
        <button mat-button color="warn"> Clear All</button>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div *ngFor="let product of products$">
      <div  style="height: 100%; display: flex;justify-content: space-evenly; align-items: center; padding: 20px 0px;">
        <div style="width: 100px">
          <div *ngIf="!product.imageUrls[0]; else hasImage">
            <div style="display:flex;place-items:center">
              <img height="75px" src="/assets/media/img/no_image.jpg">
            </div>
          </div>
          <ng-template #hasImage>
            <div style="display:flex;place-items:center">
              <img height="75px" src="{{product.imageUrls[0]}}">
            </div>
          </ng-template>
        </div>
        <div>
          {{product.name |  slice:0:10}}
        </div>
        <div>
          {{product.price | currency : currency}}
        </div>
        <div>
          {{product.quantity}}
        </div>
        <div>
          {{calculateProductSinglePrice(product.price, product.quantity) | currency : currency}}
        </div>
        <div>
          <button mat-mini-fab color="warn"><mat-icon>clear</mat-icon></button>
        </div>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div style="display:flex;justify-content: space-evenly;line-height:50px; padding-top:20px;">
      <div>
        <button mat-raised-button color="primary" routerLink="/products">Continue Shopping</button>
      </div>
      <div></div>
      <div></div>
      <div style="padding-right: 50px;">
        Total : {{getTotalPrice() | currency : currency}} RSD
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="submitOrder()">Submit Order</button>
      </div>
    </div>
  </mat-card>
</div>


<ng-template #ItemsInCart>
  <div class="app-home">
    <div></div>
      <div>
        <mat-card>
          <h1 class="app-heading--center">
            You have no items in your card
          </h1>
          <div class="app-home__button">
            <button mat-raised-button color="primary" routerLink="/products">Continue shopping</button>
          </div>
        </mat-card>
      </div>
    <div></div>
  </div>
</ng-template>




