.app-aside {
  height: 100%;
  width: app-get($app-layout-config, aside, width);
  margin-top: app-get($app-layout-config, header, height);
  background-color: app-get($app-color,background, label);
  position: fixed;
  border-right: 1px solid (app-get($app-color,background,label2));

  .app-aside__item {
    display: flex;
    background-color: app-get($app-color,background, label);
    cursor: pointer;
    padding: 10px 15px;

    &:hover{
      background-color: app-get($app-color, background, hoverlabel);
      transition: 0.3s ease-in-out;
    }
    &:focus {
      outline: none;
      background-color: app-get($app-color, background, hoverlabel);
    }

    .app-aside__wrapper{
      padding-right: 5px;
    }

  }
}



.app-aside__icon {
    color: app-get($app-color, icon, dark ,default);

    &:hover {
      transition: 0.3s ease-in;
      color: app-get($app-color, icon, dark, default);
    }
  }

