.app-header {
  display: flex;
  height: app-get($app-layout-config, header, height);
  background-color: app-get($app-color, background, brand);
  align-items: center;
  z-index: 1000;

  &.app-header--fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 15px;
  }

  .app-header__brand {
    display: flex;
    cursor: pointer;


    &:focus {
      outline: none;
    }

    .app-header_wrapper{
      line-height: 20px;
      padding-right: 10px;

    }
  }

  .app-header__spacer {
    flex: 1;
  }
}


mat-icon {
  &.app-header__icon {
    color: app-get($app-color, icon, light ,default);
    &:hover {
      transition: 0.3s ease-in;
      color: app-get($app-color, icon, light, hover);
    }
  }
}
