.app-contact{
  display: grid;
  grid-template-columns: 6fr 5fr 6fr;
  padding-top: app-get($app-layout-config, page, padding-top);

  .app-contant__wrapper{
    display: flex;
    place-items: center;

    .app-contact_icon{
      mat-icon{
        padding-right: 20px;
        line-height: 20px;
        color: app-get($app-color,text, dark);
      }

    }
  }
  .app-contact__button{
    display: flex;
    justify-content: center !important;
  }
}
