
.app-login{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: app-get($app-layout-config, page, padding-top);

  .login-card {
    padding: 50px;
  }
}




.login-full-width {
  width: 100%;
  padding-bottom: 20px;
  &.form {
    padding-bottom: 25px;

  }
}

.login-button{
  display:flex;
  justify-content: center !important;
}
