.app-products{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0 auto;
  grid-column-gap: 1em;
  grid-row-gap: 1rem;
  grid-auto-rows: 1fr;


  .app-product__card{
    display: grid;
    grid-template-rows: 4fr 1fr 0.5fr;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    @media (max-width: 1600px) and (min-width: 1100px){
      grid-template-rows: 4fr 2fr 0.5fr;
    }


    :focus{
      outline: none;
    }

    .app-product__content{
      text-align: end;
    }

    .app-product__cart-wrapper{
      justify-content: end;
      padding-top:10px;
    }

  }

}

.app-product__cart{
  width: 100% !important;
  min-width: unset!important;
  height: 100%;

  mat-icon.app-product__icon{
    color: lighten(app-get($app-color,text,dark), $amount: 10%);
    font-size: 20px;
  }

  &:hover {
    transition: 0.3s ease-in;
    background-color: lighten(app-get($app-color,background, brand), 4%);
    mat-icon.app-product__icon{
      transition: 0.2s ease-in;
      color: darken(white, 6%);
  }
  }
}

