
<div class="app-about">
  <div></div>
  <div>
    <div class="app-heading app-heading--center">
      About Us
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quam blanditiis sequi doloremque. At, a odio sequi id corrupti facere dignissimos et impedit harum expedita magnam vitae tempore. Molestias itaque sunt aliquam labore tenetur quo rem. Dolor dolorem temporibus quaerat debitis illum soluta repudiandae omnis, rerum blanditiis odit commodi! Repellat!
    </p>
    <br>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus velit excepturi doloribus hic atque ullam, in quia illum beatae nulla quidem, voluptates aperiam repudiandae cumque voluptate fugiat sit ex tempora! Odio deleniti necessitatibus, error officiis ipsam provident inventore laborum amet ad, culpa earum tempora eum voluptatum. Corrupti animi amet iusto!
    </p>
    <br>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus animi debitis eos sapiente, exercitationem nesciunt soluta voluptas maxime, laborum quo ad aspernatur neque, beatae voluptates provident nisi necessitatibus unde repudiandae? Autem tempore quia dolor cum corrupti, labore eligendi at quasi architecto dolorum consectetur consequuntur minus placeat commodi omnis modi est.
    </p>
    <br>
    <div class="app-about__button">
      <button mat-raised-button color="primary" routerLink="/">Check out our awsome products</button>
    </div>
  </div>
  <div></div>
</div>
